<div class="container-fluid">

  <div class="row">
    <div class="showOrclose">
      <i  (click)='showNav_SF()' class="fas fa-bars"></i>
      <ul class="nav subNav flex-column" *ngIf='showNav_S'>
       
        <li class="nav-item p-3"  >
          <a class="nav-link" routerLink='/user/lecture/all' routerLinkActive='active'><i class="fas fa-clipboard-list"></i> View Lecture </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link " routerLink='/user/lecture/add' routerLinkActive='active'><i class="fas fa-plus-square"></i> Create Lecture </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" routerLink='/home' routerLinkActive='active'><i class="fas fa-home"></i> Home Page </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" routerLink='/user/setting' routerLinkActive='active'><i class="fas fa-cogs"></i> Setting </a>
        </li>
      </ul>
    </div>
    <div class="nav_left ">
      <h5 class='Skranji text-primary text-center'>Lecture control</h5>
      <ul class="nav flex-column">
       
        <li class="nav-item p-3">
          <a class="nav-link" routerLink='/user/lecture/all' routerLinkActive='active'><i class="fas fa-clipboard-list"></i>  </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link " routerLink='/user/lecture/add' routerLinkActive='active'><i class="fas fa-plus-square"></i>  </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" routerLink='/home' routerLinkActive='active'><i class="fas fa-home"></i>  </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" routerLink='/user/lecture/setting' routerLinkActive='active'><i class="fas fa-cogs"></i>  </a>
        </li>
      </ul>


    </div>
    <div class="container">
     
      <router-outlet></router-outlet>
    
    </div>
  </div>

</div>