.nav_left{
    padding: 30px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);
    position: fixed;
    top:0;
    height: 100%;
    z-index: 100;
    background: white;
    width: 10%;
}
.showOrclose i {
    cursor: pointer;
}
.showOrclose{

    padding: 10px;
    background: rgb(255, 255, 255);
    width:100%;
    box-shadow: 0 0 3px 0.5px rgba(0,0,0,0.1)
}

@media only screen and (max-width: 800px){
    .nav_left{
        display: none
    }

}