<div class="lecturePage p-3">
  <div class="row margin-center ">
    <div class="col-12 col-md-6 card p-3">
      <h3 class='Skranji text-primary text-center p-3'>Creating Project.</h3>
      <form>
        <div class="md-form">
          <label for="name">Name Project : </label>
          <input type="text" class="form-control" [(ngModel)]='lecture.nameL' name='nameL' #nameL='ngModel' placeholder="Name project."
            required>
        </div>
  
       
        <div class="md-form ">
            <label for="step">Step you build project : </label>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control"  name='stepInput' [(ngModel)]='stepInput' placeholder="Add step project." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)='addStep()' type="button">save</button>
            </div>
          </div>
          <small> Number of string : {{ step ? step.length : 0 }} </small>

        </div>

       
        <div class="md-form p-2">
          <button class="btn btn-lg btn-block btn-primary" (click)='create()'>Create</button>

        </div>
        <div class="md-from p-2" *ngIf='msg'>
          <p class='{{megClass}}'>{{ msg }}</p>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6 p-2 ">
      <h3 class='Skranji text-primary text-center p-3'>List Step Project.</h3>
      <p class='text-right' > Number of steps :  {{ stepList.length }}  </p>
      <ul class="navbar-nav p-3 card" style="overflow: auto; height: 200px  " >
        <li class='nav-item p-2' style='border-bottom: 3px solid dodgerblue ; font-weight: bold ' *ngFor="let list of stepList ; let i = index" > {{ i+1 }} . {{list.step}}   <p class="text-right" style="float: right; color:red"   > <i class="fas fa-times" (click)='removeStep(i)' ></i>    </p> </li>
      </ul>
    </div>
  </div>
</div>