<div class="lecturePage">
  <h3 class='Skranji text-primary text-center'>Lecture all</h3>
  <div class="text-center card" *ngIf='!showListDB' style='height: 300px;'>
    <div style='position: relative; top:120px;'>
      <p> You have not project .</p>
      <button class="homeBtn" (click)='createP()'>Create Project.</button>

    </div>
  </div>
  <div *ngIf='showListDB'>
    <p class='text-right'> จำนวนรายการทั้งหมด : {{ dateKeep.length }} </p>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" *ngFor='let num of pageNum'>
          <p class="page-link" (click)='pageShow(num)'>{{ num }}</p>
        </li>
      </ul>
    </nav>
    <div class="p-2" *ngFor='let l of dataLecture ; let i = index'>
      <div class='card p-3'>
        <p>{{ l.nameProject }} -- Project</p>

        <div class='p-3'>
          <button class='text-right btn btn-block btn-outline-primary ' >Step List : {{ l.stepWork.length }} List </button>
          <div class='p-3 card'>

            <ul #eleUl class='navbar-nav' style='border-bottom: 1px solid rgba(0,0,0,0.1);padding: 10px' *ngFor='let s of l.stepWork; let i2 = index'>
              <li> {{s.step}} </li>
              <li class='{{classNow}}' >status : {{ statusW(s.status) }}
                <small class='update_' (click)='statusUpdate(i2,l._id,i)'>&nbsp;&nbsp; Update</small>
              </li>
              
            </ul>
            <div class="input-group mb-3">
                <input type="text" class="form-control"  name='step' [(ngModel)]='step' placeholder="Add step project." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)='addStep(l,i2 )' type="button">save</button>
                </div>
              </div>
         
            
          </div>

        </div>

        <p> จำนวนวันดำเนินการ : {{dateNum(l.create_at)}} วัน </p>
        <div class="text-right">
          <button class='btn closed btn-danger ' (click)='deleteLecture(i , l._id)'>
            <i class='fa fa-times'></i>
          </button>
        </div>
      </div>

    </div>


  </div>
</div>
