.closed{
    position: absolute;
    top:-10px;
}
.update_{
    color:#6cc506;
    cursor: pointer;

}
.update_:hover{
    font-weight: bold;
    
}
.homeBtn {
    padding: 10px;
    background: rgba(0,0,0,0);
    border: 5px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    color:#007bff;
    transition:  all 1s;
    -webkit-transition:  all 2s;
}
.homeBtn:hover {
    background: #007bff;
    color:white
}
.procedd {
    background: #e5ff00
}