<div class="container">
  <div class="col-12 p-3">
    <div class="col-12 col-md-8 margin-center text-center p-3">
      <h1 class="text-center Skranji text-primary ">Lecture Online</h1>
      <p>
        This is website for keep idea. Then building your own project you want. And this is website created for me only or you. if you want. 
      </p>
      <img style='width:100%' src="assets/images/g5357.png" alt="home page">
      <div class="p-3">
        <button class="homeBtn">Create Project.</button>

      </div>
    </div>
  </div>
</div>